/* redefinindo tudo  */

* {
padding: 0;
margin:0;
box-sizing: border-box;
} 

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
}


h1, h2, h3, strong {
font-family: 'Montserrat', sans-serif; 
}

.container {
    width:1200px;
    margin: 0 auto;
}