body {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}


.hero {
    width: 100%;
    height: 400px;
    background-color:#C20001;

}

.hero-content {
    
    display: flex;
    align-items:center;  /* horizontal */
    flex-direction: column;
    
}

h1 {
    font-weight: 700;
    font-size: 70px;
}

p {
    font-weight: 300;
    font-size: 19px;
}

.hero-container-span{
    background-color: white;
    border-radius: 50px;
    width: 120px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.hero-span {
    color: #C20001;
    font-size: 15px;
    font-weight: 700;
    margin-right: 8px;
}

.hero-container-span-mochilinha {
    width: 18px;
    height: 23px;
    border-radius: 100px;
    margin-right: 8px;
}

.pokeball {
    width: 750px;
    height:500px;
    display: flex;
    margin-bottom: -300px;
}

